:root {
    --pcolor: #FDC435;
    /* --pcolor: rgb(20, 32, 48); */
    --ptext: #1d1d1d;
    --stext: #666666;
}

* {
    font-family: 'sf pro display', 'roboto';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
   min-height: 100vh;
}

.game-tittle {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2rem;
    text-transform: uppercase;
}

/* game-container style  */
.game-container {
    min-height: 25rem;
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.output {
    margin:5rem;
    position: relative;
    display: flex;
    justify-content: center;
    /* background-color:var(--pcolor); */
    border: 2px solid var(--pcolor);
    border-radius: 30px;
}

.output h1 {
    position: absolute;
    font-size: 1rem;
    top:5%;
    left: 5%;
}

.output img {
    position: absolute;
    object-fit: cover;
    height: 100%;
}

/* result  */
#result {
    text-align: center;
    margin: 1rem;
    font-size: 3rem;
}
#description{text-align: center; margin: 1rem;}

/* buttons */
.buttons {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.buttons button {
    margin: 1rem;
    padding: 1rem 2.5rem;
}



@media  (max-width:600px)
{
    .game-tittle{
        display: none;
    }
    .game-container {
        height: 30rem;
    }
    .output {
        margin:1rem;       
    }
    #result {
        
        font-size: 2rem;
    }
}